.postsContainer{
    max-width: 1140px;
    margin: 40px auto;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    align-items: stretch; 
}

.postBox{
    width: 360px;
    height: 100%;
    background-color: #282828;
    border: 1px solid #10A37F;
    padding: 20px;
    cursor: pointer;
    transition: .3s;

    &:hover{
        box-shadow: 0 0 8px #19C37D;
    }
    
    h3{
        color: #10A37F;
        padding-bottom: 16px;
        text-transform: capitalize;
    }

    p{
        letter-spacing: .6px;
        color: white;
    }
}